<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Order</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="~/css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <form action="/vendors/@Model.Id/orders" method="post">
      <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id" required>
      <label for="orderName">Order Name:</label>
      <input id="orderName" name="orderName" type="text" required>
      <label for="orderType">What type of order?</label>
      <select class="form-control" id="orderType" required>
        <option value="bread">Bread</option>
        <option value="pastry">Pastries</option> 
      </select>
      <label for="orderDescription">Order Description:</label>
      <input id="orderDescription" name="orderDescription" type="text" required>
      <label for="orderDate">Order Date:</label>
      <input id="orderDate" name="orderDate" type="date" required>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>