<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Order Book</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1 id="center-title">Welcome to Pierre's order book</h1>
      <p id="center-paragraph">About Pierre's Bakery: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis velit eu mi varius finibus ac ac elit. Integer quis velit non ex tempus accumsan. Nam eu velit vitae mi porta consectetur. Sed diam nulla, malesuada sit amet viverra eget, maximus ac lorem.</p>
      <h2>Add/Check Orders:</h2>
      <p>You will need to add your vendor first then you can add orders to your vendor!</p>
      <a href="/vendors/new"><button class="btn btn-success">New Order</button></a>
      <a href="/vendors"><button class="btn btn-success">Check Orders</button></a>
    </div>
  </body>
</html>