<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Order Book</title>
    <link href="~/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
  </head>
  <body>
    <div class="topnav">
      <a id="nav-name-link" href="/"><h1 class="nav-title">Pierre's Orderbook</h1></a>
      <a id="nav-link" href="/" class="active">Home</a>
      <a id="nav-link" href="/vendors/new">New Vendor</a>
      <a id="nav-link" href="/vendors">Check Vendors</a>
    </div>
    <div class="container">
      <div class="row">
        <img src="~/img/baguette.png">
        <h1 id="center-title">Welcome to Pierre's order book</h1>
        <img src="~/img/baguette.png">
      </div>
      <div class="card" id="order-card">
        <p id="center-paragraph">About Pierre's Bakery: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis velit eu mi varius finibus ac ac elit. Integer quis velit non ex tempus accumsan. Nam eu velit vitae mi porta consectetur. Sed diam nulla, malesuada sit amet viverra eget, maximus ac lorem.</p>
        <h2>Add/Check Orders:</h2>
        <p id="order-paragraph">You will need to add your vendor first then you can add orders to your vendor from the top nav bar!</p>
        <h5>Prices:</h5>
        <ul>
          <li>$2 For Pastries</li>
          <li>$1 For Bread</li>
          <li>+ $5 shipping</li>
        </ul>
      </div>
    </div>
  </body>
</html>